.question {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--kita-space-n);
    border-bottom: 2px dotted var(--kita-color-black);
    cursor: pointer;
}

.titleWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0;
}

.title {
    margin: var(--kita-space-md) 0;
    text-align: left;
    color: var(--kita-color-black);
}

.imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--kita-color-black);
    height: 20rem;
}

.faqImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.accordionIcon {
    transition: transform 0.4s ease;
}

.textContainer {
    transition: 0.7s ease;
    overflow: hidden;
}

.textContainer div p:first-of-type {
    margin-top: 0;
}
.textContainer div p:last-of-type {
    margin-bottom: var(--kita-space-xl);
}

.textContainer div h4 {
    margin-bottom: var(--kita-space-s);
}
