.question {
    border-bottom: 2px dotted var(--kita-color-black);
    text-align: left;
    margin-bottom: var(--kita-space-xl);
}

.question:first-of-type {
    margin-top: var(--kita-space-xxl);
}

.title {
    margin-block: var(--kita-space-n);
}

.textContainer {
    overflow: hidden;
    transition: 0.7s ease;
}

.textContainer p {
    margin-bottom: 0;
}

.showButton {
    display: flex;
    padding: var(--kita-space-l) 0 var(--kita-space-l);
    cursor: pointer;
    background-image: linear-gradient(
        to top,
        var(--kita-color-white-muted),
        transparent
    );
    width: 100%;
    letter-spacing: 0.05rem;
}
