.article {
    border-top: 1px solid rgb(var(--kita-color-black));
    margin-top: var(--kita-space-md);
}

.article img {
    max-width: 100%;
}

@media (min-width: 1024px) {
    .article .maintext {
        columns: 2;
        column-gap: var(--kita-space-md);
    }
}
