.blockquote {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    border-radius: 50%;
    background-color: var(--col-violet);
    padding: 1rem;
    width: clamp(min(5rem, 100%), 14rem, 17rem);
    text-align: center;
    color: var(--col-white);
    font-size: 1.2em;
    font-weight: 700;
    aspect-ratio: 1/1;
}
