@import "variables.module.scss";

.downMain {
  a {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding-inline: 1rem;
    padding-block: 0.8rem;
    text-decoration: none;
    color: $colblack;
    font-weight: 700;
    background-color: $colwhite;
    box-shadow: $shadow-default;
    border-radius: 4px;

    &:visited {
      color: $colblack;
    }

    .pdficon {
      max-width: 35px;
      height: auto;
      margin-right: 0.8em;
    }
  }
}
