.downMain {
  a {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding-inline: 1rem;
    padding-block: 0.8rem;
    text-decoration: none;
    color: var(--col-black);
    font-weight: 700;
    background-color: white;
    box-shadow: var(--shd-default);
    border-radius: 4px;

    &:visited {
      color: var(--col-black);
    }

    .pdficon {
      max-width: 35px;
      height: auto;
      margin-right: 0.8em;
    }
  }
}
