.downloadCard {
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
    margin-bottom: var(--kita-space-n);
    border-radius: var(--kita-radius-small);
    box-shadow: var(--kita-shadow-medium);
    background-color: var(--kita-color-white);
    padding: var(--kita-space-n);
    text-decoration: none;
    color: var(--kita-color-black);
    font-weight: 700;
}

.downloadCard:hover {
    box-shadow: var(--kita-shadow-large);
    translate: 0 -2px;
}

.downloadCard:visited {
    color: var(--kita-color-black);
}

.downloadCard .pdfIcon {
    margin-right: var(--kita-space-n);
    max-width: 35px;
    height: auto;
}
