.downloadCard {
    display: flex;
    align-items: center;
    margin-bottom: var(--kita-space-base);
    border-radius: 4px;
    box-shadow: var(--kita-shadow-medium);
    background-color: var(--kita-color-white);
    text-decoration: none;
    color: var(--kita-color-black);
    font-weight: 700;
    padding-block: 0.8rem;
    padding-inline: var(--kita-space-base);
}

.downloadCard:visited {
    color: var(--kita-color-black);
}

.downloadCard .pdfIcon {
    max-width: 35px;
    height: auto;
    margin-right: 0.8em;
}
