footer {
    margin-top: auto;
    padding-bottom: 9rem;
}

@media screen and (min-width: 1024px) {
    footer {
        padding-bottom: 2rem;
    }
}

.footerListItems {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    padding-inline: var(--kita-space-200);
    margin: 0;
    font-size: 1rem;
}

.footerListItems a {
    text-decoration: none;
}

.footerListItems a:hover {
    text-decoration: underline;
}

.footerLink :not(:last-child) {
    margin-bottom: 0.5rem;
}
