footer {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

.footerListItems {
    display: flex;
    flex-flow: wrap;
    gap: 1rem;
    padding-inline: var(--kita-space-md);
    margin: 0;
    font-size: var(--kita-font-size-l);
}

.footerListItems a {
    text-decoration: none;
}

.footerListItems a:hover {
    text-decoration: underline;
}

.footerLink :not(:last-child) {
    margin-bottom: var(--kita-space-sm);
}

.waveBottom {
    overflow: hidden;
}

.waveBottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@media (min-width: 768px) {
    .waveBottom {
        height: 10rem;
    }
}
