@import "variables.module.scss";

footer {
  margin-top: auto;
}

.footerListItems {
  display: flex;
  flex-flow: wrap;
  margin: 2em 0 9rem;
  gap: 1rem;
  padding: $mainpadding;
  color: $colormuted;

  a {
    color: $colormuted;

    &:not(.footerLinkSelfPromo a) {
      text-decoration: none;
    }
  }

  a:visited {
    color: $colormuted;
  }
}

.footerLink {
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
