footer {
  margin-top: auto;
}

.footerListItems {
  display: flex;
  flex-flow: wrap;
  margin: 2em 0 9rem;
  gap: 1rem;
  padding: var(--main-padding);
  color: var(--col-muted);
}

.footerListItems a {
  color: var(--col-muted);
}

.footerListItems a:not(.footerLinkSelfPromo a) {
  text-decoration: none;
}

.footerListItems a:visited {
  color: var(--col-muted);
}

.footerLink :not(:last-child) {
  margin-bottom: 0.5rem;
}
