.header {
    display: flex;
    flex-direction: column;
    padding-block: var(--kita-space-200);
    gap: var(--kita-space-200);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    color: var(--kita-color-black);
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.link:hover {
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: center;
    width: 10rem;
}

.logo img {
    height: 7rem;
    transform-origin: center bottom;
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
