.heroContainer {
    position: relative;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--kita-color-black);
    height: 23rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 35%;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--kita-color-white);
    padding: 1rem 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
