.iconWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    color: var(--kita-color-black);
    border-block: 2px solid var(--kita-color-black);
    padding-block: 2rem;
    flex-wrap: wrap;
    row-gap: 2rem;
}

.iconWrapper a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: var(--kita-font-size-l);
    gap: 1rem;
    white-space: nowrap;
}

.iconWrapper a:first-of-type img {
    width: 80px;
    height: auto;
}
.iconWrapper a:last-of-type img {
    width: 41px;
    height: auto;
}

.iconWrapper a:first-of-type:hover img {
    transform: scale(1.2);
}
.iconWrapper a:last-of-type:hover img {
    transform: scale(1.2);
}

.stepIcon,
.mailIcon {
    height: 2.5em;
    transition: 0.2s ease-in-out;
}
