@import "variables.module.scss";

.homeMain {
  display: flex;
  flex-direction: column;

  .illustration {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: clamp(min(375px, 100%), 80%, 100%);
  }

  aside {
    .iconWrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 4rem;
      margin-bottom: 4rem;

      .homeIcon {
        height: 2.5em;
        transition: 0.2s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
