.imgInklusion {
    max-height: 32rem;
    margin-bottom: var(--kita-space-xl);
}

.imgInklusion img {
    max-width: 100%;
}

.imgInklusion figcaption {
    font-size: var(--kita-font-size-s);
    float: right;
}
