.question {
    border-bottom: 2px dotted var(--kita-color-black);
    text-align: left;
}

button {
    text-align: left;
    cursor: pointer;
}

.textHidden {
    overflow: hidden;
    max-height: 0;
    transition: 0.7s ease;
}

.textVisible {
    overflow: hidden;
    transition: 0.7s ease;
    margin-bottom: 1rem;
}

.interviewVisible {
    color: var(--kita-color-secondary);
}

.chevronWrapper {
    display: flex;
    margin: 0 auto 2rem;
    cursor: pointer;
}

.chevronIcon {
    transition: transform 0.4s ease;
    transform: rotate(90deg);
}

.rotate {
    transition: transform 0.4s ease;
    transform: rotate(270deg);
}
