.question {
    border-bottom: 2px dotted var(--kita-color-black);
    text-align: left;
}

.question:first-of-type {
    margin-top: var(--kita-space-xxl);
}

.titleButton {
    text-align: left;
    cursor: pointer;
    padding: 0;
}

.title {
    margin-block: var(--kita-space-n);
}

.textHidden {
    overflow: hidden;
    max-height: 0;
    transition: 0.7s ease;
}

.textVisible {
    overflow: hidden;
    transition: 0.7s ease;
    margin-bottom: var(--kita-space-n);
}

.interviewVisible {
    color: var(--kita-color-secondary);
}

.chevronButton {
    display: flex;
    margin: 0 auto var(--kita-space-l);
    cursor: pointer;
}

.chevronIcon {
    transition: transform 0.4s ease;
    transform: rotate(90deg);
}

.rotate {
    transition: transform 0.4s ease;
    transform: rotate(270deg);
}
