.mitgliederWrapper {
    display: grid;
    margin-top: var(--kita-space-xxl);
    gap: var(--kita-space-l);
}

@media screen and (max-width: 640px) {
    .mitgliederWrapper {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 641px) {
    .mitgliederWrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--kita-space-3xl);
    }
}
