.mitgliedwrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 10rem;
    text-align: center;
    background-color: var(--kita-color-white);
    border-radius: var(--kita-radius-small);
    overflow: hidden;
    font-size: var(--kita-font-size-n);
}

.profilbild {
    width: 100%;
}

.mitgliedwrapper p:not(.title, .name) {
    margin: 0;
}

.title {
    margin-block: 0 var(--kita-space-xs);
}

.name {
    font-size: var(--kita-font-size-l);
    margin-block: 0 var(--kita-space-s);
}

.mitgliedwrapper .kita {
    color: var(--kita-color-primary);
    margin-block: var(--kita-space-s);
}

.textWrapper {
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: var(--kita-space-n);
    line-height: 1.3;
}

.textWrapper a:not(.btnWebsite) {
    font-style: normal;
    color: var(--kita-color-black);
    font-weight: 700;
}

.btnWebsite {
    background-color: var(--button-accent-color);
    margin-top: var(--kita-space-n);
    padding: var(--kita-space-s);
    border-radius: var(--kita-radius-pill);
    text-decoration: none;
    font-size: var(--kita-font-size-n);
    transition: background-color 0.3s ease-in-out;
}

.btnWebsite:hover {
    background-color: var(--button-accent-color-hover);
}
