@import "variables.module.scss";

.mitgliederWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 640px) {
  .mitgliederWrapper {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 641px) {
  .mitgliederWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .mitgliederWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
