.memberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 10rem;
    text-align: center;
    background-color: var(--kita-color-white);
    border-radius: var(--kita-radius-medium);
    overflow: hidden;
    font-size: var(--kita-font-size-l);
}

.profileImage {
    width: 100%;
}

.addressContainer {
    font-style: normal;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: var(--kita-space-n);
    line-height: 1.3;
}

.addressContainer > * {
    margin-block: var(--kita-space-xs);
}

.name {
    font-size: var(--kita-font-size-xl);
}

.btnWebsite {
    background-color: var(--button-accent-color);
    margin-block: var(--kita-space-md) var(--kita-space-n);
    padding: var(--kita-space-s);
    border-radius: var(--kita-radius-pill);
    text-decoration: none;
    font-size: var(--kita-font-size-n);
    transition: background-color 0.3s ease-in-out;
}

.btnWebsite:hover {
    background-color: var(--button-accent-color-hover);
}
