.mitgliedwrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 10rem;
  text-align: center;
  background: white;
  border-radius: 0.3rem;
  overflow: hidden;
}

.profilbild {
  width: 100%;
}

.mitgliedwrapper p {
  margin: 0;
}

.mitgliedwrapper address {
  font-style: normal;
}

.mitgliedwrapper address a:not(.btnWebsite) {
  font-style: normal;
  color: rgb(var(--col-black));
  font-weight: 700;
}

.kita {
  color: rgb(var(--col-violet));
  margin-block: 0.5rem;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1rem;
  line-height: 1.3;
}

.btnWebsite {
  border: 1px solid rgb(var(--col-gray));
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 2rem;
  color: rgb(var(--col-gray));
  text-decoration: none;
}
