@import "variables.module.scss";

.navigation {
  width: 100%;
  display: inline-block;
  position: fixed;
  bottom: 0;
  z-index: 1;

  .navList {
    display: flex;
    justify-content: space-around;
    padding: 0;

    .liItem {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5em;
      height: 2.5em;
      border-radius: 50%;
      list-style-type: none;
      background-color: $colgreen;

      &:hover {
        background-color: $colviolet;
        transition: 0.2s ease;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $colwhite;

        img {
          width: 50%;
          height: 50px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .navigation {
    width: 7vw;
    right: 0;

    .navList {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: $mainpadding;
      right: 0;

      .liItem {
        margin-left: 1em;
        margin-bottom: 0.8em;
      }
    }
  }
}
