.navigation {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  backdrop-filter: blur(3px);
}

@media (min-width: 640px) {
  .navigation {
    justify-content: center;
    gap: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .navigation {
    top: 50%;
    right: unset;
    bottom: unset;
    flex-direction: column;
    transform: translateY(-50%);
    background-color: unset;
    backdrop-filter: unset;
    gap: 0.5rem;
  }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--col-gray));
  font-size: var(--fs-sm);
}

.link:hover .icon {
  transition: 0.2s ease;
  background-color: rgb(var(--col-violet));
  transition: background-color 0.3s ease-in-out;
}

@media (min-width: 640px) {
  .link {
    font-size: var(--fs-md);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(var(--col-green));
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.3rem;
  transition: background-color 0.3s ease-in-out;
}

.icon img {
  width: 60%;
  height: 60%;
}
