.totopbutton {
    display: flex;
    position: fixed;
    right: var(--kita-space-l);
    bottom: var(--kita-space-l);
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
    opacity: 1;
    border-radius: var(--kita-radius-round);
    box-shadow: var(--kita-shadow-medium);
    background-color: var(--kita-color-white);
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    font-size: var(--kita-font-size-xxl);
}

.totopbutton:hover {
    box-shadow: var(--kita-shadow-large);
    background-color: var(--button-white-muted);
    translate: 0 -2px;
}

.totopbutton svg {
    width: 50%;
    fill: var(--kita-color-black);
}

.buttonHidden {
    opacity: 0;
    pointer-events: none;
}
