@import "variables.module.scss";

.footerListItems {
  display: flex;
  flex-flow: wrap;
  margin: 2em 0 5em;
  padding: $mainpadding;
}

@media (min-width: 1024px) {
  .footerListItems {
    margin: 2em 0 1rem;
  }
}

.footerLink {
  list-style-type: none;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  a {
    text-decoration: none;
    color: $colormuted;
    margin-right: 1em;
  }
}
