@import "variables.module.scss";

body {
  @include MainFont;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $colblack;

  main {
    padding: $mainpadding;
    margin: 0 auto;
  }
}
