@import "variables.module.scss";

.mitgliedwrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

  .profilbild {
    border-radius: 50%;
    max-width: 9em;
    margin: 0 auto 0.5em;
  }

  p {
    margin: 0;
  }

  address {
    font-style: normal;

    a {
      @include TelefonLink;
    }
  }
}
