@import "variables.module.scss";

.mitgliederRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* @media (min-width: 768px) {
  .mitgliederRow {
    display: flex;
    justify-content: space-evenly;
  }
} */
