@import "variables.module.scss";

.totopbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 5.5rem;
  right: 0.9rem;
  background-color: $colgreen;
  border: none;
  border-radius: 50%;
  font-size: 3rem;
  transition: opacity 0.5s ease-in-out, background-color 0.2s ease;
  cursor: pointer;
  opacity: 1;

  svg {
    width: 50%;
    fill: $colwhite;
  }

  &:hover {
    background-color: #4d2983;
  }
}

.buttonHidden {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 3rem;
  height: 3rem;
  bottom: 5.5rem;
  right: 0.9rem;
  background-color: $colgreen;
  border: none;
  border-radius: 50%;
  font-size: 3rem;
  pointer-events: none;
  opacity: 0;
  z-index: -1;

  svg {
    width: 50%;
    fill: $colwhite;
  }
}

@media (min-width: 1024px) {
  .totopbutton {
    bottom: 26rem;
    right: 1.95rem;
  }
}
