@import "variables.module.scss";

.totopbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5.5rem;
  right: 0.9rem;
  background-color: transparent;
  color: $colblack;
  border: none;
  font-size: 3rem;
  font-weight: 700;
  transition: 0.5s ease-in-out;
  opacity: 1;
  transform: rotate(90deg);
  cursor: pointer;
}

.buttonHidden {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5.5rem;
  right: 0.9rem;
  background-color: transparent;
  color: $colblack;
  border: none;
  font-size: 3rem;
  font-weight: 700;
  opacity: 0;
  transform: rotate(90deg);
  z-index: -1;
}

@media (min-width: 1024px) {
  .totopbutton {
    bottom: 25rem;
    right: 1.95rem;
  }
}
