/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Assistant_normal_latext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Assistant_normal.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Assistant_bold_latext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Assistant";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Assistant_bold.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@mixin MainFont {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

@mixin TelefonLink {
  font-style: normal;
  color: $colblack;
  font-weight: 700;
}

$mainwidth: clamp(min(375px, 100%), 45rem, 100%);
$mainpadding: 0 2rem;
$paddingfaq: 0.3em 0.7em;

$colormuted: #868686;
$colorlightgray: rgb(245, 245, 245);
$colblack: #2d2d2d;
$colgreen: #2c7923;
$colgreentransp: rgba(44, 121, 35, 0.2);
$colviolet: #4d2983;
$colviolettransp: rgba(78, 42, 132, 0.2);
$colwhite: #fff;
$colwhitetansp: rgba(255, 255, 255, 0.8);
