@import '../components/variables.module.scss';


.footerListItems {
    display: flex;
    margin: 2em 0 5em;
    padding: $mainpadding;
}

.footerLink {
    list-style-type: none;
    
    a {
        text-decoration: none;
        color: $colormuted;
        margin-right: 1em;
    }
}