@import './variables.module.scss';

.homeMain {
    
    aside {

        .iconWrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 2em;

            .homeIcon {
                height: 2.5em;
            }
        
        }
    }
}

@import './mediaquerys.module.scss'; 