.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: rgb(175 192 197);
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  pointer-events: none;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 110vh, 0);
  }
}

@for $i from 1 through 50 {
  .snowflake:nth-child(#{$i}) {
    --size: #{random(5) * 0.2}vw;
    --left-ini: #{random(20) - 20}vw;
    --left-end: #{random(20) - 20}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}

/* added small blur every 6 snowflakes*/
/* .snowflake:nth-child(6n) {
  filter: blur(5px);
  opacity: 0.5;
} */
